fastapi
uvicorn
python-multipart
numpy
torch
transformers>=5.0
pillow
librosa
langchain
langchain-openai
langchain-google-genai
accelerate
opencv-python
insightface
PyJWT
redis
aiokafka

# test
pytest
httpx
fakeredis
websockets
